$h_font: 'Poppins', sans-serif;
$p_font: 'Raleway', sans-serif;

@mixin headings {
    font-family: $h_font;
    color: white;
    
}

@mixin paragraphs {
    font-family: $p_font;
    color: white;
}

@mixin flex_box {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;

}

body {
    background-image: url(./Assests/img/The_Creation_of_Adam.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }

nav {
    margin: auto;
    width: fit-content;
    position: sticky;
    top: 0;
    padding: 20px;
    
    
    #topbot {
        transform: translate(0px, 20px)
    }
    #pg {
        @include headings();
        text-decoration: none;
        padding: 7px;


    }
}

.home_pg {
    margin: auto;
    max-width: 800px;
    text-align: right;
    h2 {
        @include headings();
    }
    p {
        @include paragraphs();
        
    }
    a {
        text-decoration: none;
        @include paragraphs();
    }
}


main {
    max-width: 800px;
    margin: auto;
    
    h1 {
        @include headings();
    }

    h3 {
        @include headings(); 
    }

    h4 {
        @include headings(); 
    }

    p {
        @include paragraphs();
    }
}

.about_me_pg {
    #about_box {
        justify-content: center;
        border: 2px solid white;
        p {
            padding: 15px;
        }
    }
}

.socials_pg {
    #sociallink_cont {
        @include flex_box();
        width: 340px;
        height: 150px;
        padding: 0px;
        margin: 0;

        a {
            margin: 6px;
        }
    }
    aside {
        @include flex_box();
        width: 500px;
        height: 650px;
        
    }
}

.projects_pg {
    h1 {
        
    }
    #view_options {
        @include flex_box();
        width: fit-content;
        a {
            margin: 6px;  
        }
    }
    article {
        @include flex_box();
        width: 500px;
        height: 650px;
            #project_card {
                border: 1px solid white;
                width: 150px;
                height: 220px;
            }
            #project_listing {
                border: 1px solid white;
                height: 70px;
                h3 {
                    display: inline
                }
                h4 {
                    display: inline
                }
                h3 {
                    display: inline
                }
                p {
                    display: inline
                }
                a {
                    display: inline
                }

            }
    }

}
.skills_pg {
    
    #skills_icons {
        @include flex_box();
        width: fit-content;
        a {
            margin: 6px;
        }

    }
}

.resume_pg {
    .resume_opt {
        @include flex_box();
        width: fit-content;
        #resume_opt {
            color: white;
        }
    }
    article {
        @include flex_box();
        width: 500px;
        height: 650px;
    }
}

.contact_me_pg {
    #submit_c {
        display: inline-block;
        color: white;
    }
    #message_c {
        display: inline;
        label { 
            color: white;
            display: inline;
        }
        input {
            display: block;
        }
    }
}